<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cliente.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cliente.description %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @cliente.nif %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cliente.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @cliente.city %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @cliente.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
