<!-- <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<ul class="nav">
  <li class="active"><a href="/ideas">Ideas</a></li>
</ul> -->

<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-4">
        <!-- Logo -->
        <%= link_to image_tag('logo.png'), root_path, class:"navbar-brand" %>

      </div>


      <div class="col-md-8">
        <!-- Botón desplegable cuando es un dispositivo móvil: -->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
          &#9776;
        </button>

        <!-- Todo lo que esté dentro del div navbar-toggleable-xs entrará en el botón de móvil   -->
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

          <div class="row">

            <div class="col-md-12 amc_hello_col">
              <!-- Si el usuario está loggeado, le aparece su nombre y un link a su cienta, sino, la opcion de registrarse -->
              <% if user_signed_in? %>
                <div class="amc_hello">
                  <p>Hola <strong><%= current_user.name %></strong>.
                  <%= link_to 'Editar mis datos', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></p>
                </div>
              <% else %>
                <div class="amc_hello">
                  <%= link_to "Regístrate", new_user_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                </div>
              <% end %>

            </div> <!-- End col-md-12 -->

          </div> <!-- End row -->

          <div class="row">

            <div class="col-md-12">

              <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <%= link_to clientes_path, class:"nav-link" do %>
                    <i class="fa fa-key fa-fw"></i> Clientes
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to propietarios_path, class:"nav-link" do %>
                    <i class="fa fa-building fa-fw"></i> Propietarios
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class:"nav-link" do %>
                    <i class="fa fa-home fa-fw"></i> Propiedades
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class:"nav-link" do %>
                    <i class="fa fa-map fa-fw"></i> Mapa
                  <% end %>
                </li>
              </ul>
            </div> <!-- End col-md-12 -->
          </div> <!-- End row -->
        </div> <!-- End navbar-toggleable-xs -->

      </div> <!-- End col-md-8 -->
    </div> <!-- End row -->
  </div>
</nav>


<!-- <nav class="navbar navbar-light bg-faded">
  <%= link_to image_tag('logo.png'), root_path, class:"navbar-brand" %>
  <ul class="nav navbar-nav">

  <% if user_signed_in? %>
    <div>
      Hola <strong><%= current_user.name %></strong>.
      <%= link_to 'Editar mis datos', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </div>
  <% else %>
    <div>
      <%= link_to "Regístrate", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </div>
  <% end %>
</p>

    <li class="nav-item">
      <%= link_to "Clientes", clientes_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Propietarios", propietarios_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Propiedades", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Mapa", root_path, class:"nav-link" %>
    </li>

  </ul> -->

 <!--  <%= form_tag("/search", method: "get", class:"form-inline pull-xs-right") do %>
    <%= text_field_tag(:search, params[:search], class:"form-control", placeholder: "Buscar") %>
    <%= submit_tag("Search", class:"btn btn-success-outline") %>
  <% end %> -->
</nav>
