<!-- <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<ul class="nav">
  <li class="active"><a href="/ideas">Ideas</a></li>
</ul> -->







<nav class="navbar navbar-light bg-faded">
  <%= link_to image_tag('logo.png'), root_path, class:"navbar-brand" %>
  <ul class="nav navbar-nav">

  <% if user_signed_in? %>
    Hola <strong><%= current_user.name %></strong>.
    <%= link_to 'Editar mis datos', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Regístrate", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

    <li class="nav-item">
      <%= link_to "Clientes", clientes_path, class:"nav-link" %>
    </li>
  </ul>

 <!--  <%= form_tag("/search", method: "get", class:"form-inline pull-xs-right") do %>
    <%= text_field_tag(:search, params[:search], class:"form-control", placeholder: "Buscar") %>
    <%= submit_tag("Search", class:"btn btn-success-outline") %>
  <% end %> -->
</nav>
