<p id="notice"><%= notice %></p>

<h1>Listing Propiedads</h1>

<table>
  <thead>
    <tr>
      <th>Tipo operacion</th>
      <th>Tipo inmueble</th>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Descripcion</th>
      <th>Localizacion</th>
      <th>Distrito</th>
      <th>Direccion</th>
      <th>Cod postal</th>
      <th>Precio desde</th>
      <th>Precio hasta</th>
      <th>Superficie desde</th>
      <th>Superficie hasta</th>
      <th>Estado</th>
      <th>Ubicacion</th>
      <th>Distrito</th>
      <th>Dormitorios</th>
      <th>Banos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedads.each do |propiedad| %>
      <tr>
        <td><%= propiedad.tipo_operacion %></td>
        <td><%= propiedad.tipo_inmueble %></td>
        <td><%= propiedad.titulo %></td>
        <td><%= propiedad.subtitulo %></td>
        <td><%= propiedad.descripcion %></td>
        <td><%= propiedad.localizacion %></td>
        <td><%= propiedad.distrito %></td>
        <td><%= propiedad.direccion %></td>
        <td><%= propiedad.cod_postal %></td>
        <td><%= propiedad.precio_desde %></td>
        <td><%= propiedad.precio_hasta %></td>
        <td><%= propiedad.superficie_desde %></td>
        <td><%= propiedad.superficie_hasta %></td>
        <td><%= propiedad.estado %></td>
        <td><%= propiedad.ubicacion %></td>
        <td><%= propiedad.distrito %></td>
        <td><%= propiedad.dormitorios %></td>
        <td><%= propiedad.banos %></td>
        <td><%= link_to 'Show', propiedad %></td>
        <td><%= link_to 'Edit', edit_propiedad_path(propiedad) %></td>
        <td><%= link_to 'Destroy', propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedad', new_propiedad_path %>
