<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo operacion:</strong>
  <%= @propiedad.tipo_operacion %>
</p>

<p>
  <strong>Tipo inmueble:</strong>
  <%= @propiedad.tipo_inmueble %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @propiedad.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @propiedad.subtitulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @propiedad.descripcion %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @propiedad.localizacion %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @propiedad.distrito %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @propiedad.direccion %>
</p>

<p>
  <strong>Cod postal:</strong>
  <%= @propiedad.cod_postal %>
</p>

<p>
  <strong>Precio desde:</strong>
  <%= @propiedad.precio_desde %>
</p>

<p>
  <strong>Precio hasta:</strong>
  <%= @propiedad.precio_hasta %>
</p>

<p>
  <strong>Superficie desde:</strong>
  <%= @propiedad.superficie_desde %>
</p>

<p>
  <strong>Superficie hasta:</strong>
  <%= @propiedad.superficie_hasta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @propiedad.estado %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @propiedad.ubicacion %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @propiedad.distrito %>
</p>

<p>
  <strong>Dormitorios:</strong>
  <%= @propiedad.dormitorios %>
</p>

<p>
  <strong>Banos:</strong>
  <%= @propiedad.banos %>
</p>

<%= link_to 'Edit', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Back', propiedads_path %>
